
body
{
 margin-top: 0;
 margin-left: 0%;
 margin-right: 0%;
 background-image: #000
}

.banner
{
   position: relative;
    background-color: #000;
    height: fit-content;
    font-family: Bodoni MT Italic;  

    
}

ul 
{
    list-style: none;
    margin-top: 0%;
    display: inline-flex;
    align-items: right;
    justify-content: space-between;
   
}
  
  a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    display: block;
    padding: 8px;
    padding-right: 30px;
    padding-left: 30px;
    color: #dadada;
    text-decoration: #000;
    font-size: 18px;
     }

 ul li:hover {
    border-radius: 5px;
    transition: 0.3s ease;
    color: #04c578;
   }
a:hover{
    color: #04c578;
    border-radius: 5px;
    transition: 0.3s ease;
}

.main
{
   background-image: url(Home_bg_1.jpg); 
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: 40%;
   width: 100%;
   
}
