body
{
    border: #00cccd;
    border-width: 5px;
    border-top-style: solid;
    border-radius: 5px;

    background: linear-gradient(#000,#00cccd,#000);
    background-size: 100%;
      
    margin-top: 0%;

    color: #dadada ;
   
    
}
img
{
    width: 80px;
    height: 85px;
}
form
{
    background-color: #000;
    margin-top: 5%;
    text-align: center;
    border:#00cccd;
    border-radius: 10px;
    border-width: 7px;
    border-top-style:double ;
    border-bottom-style:double ;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.84;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    
}

